<div class="col-12 justify-content-center">
  <button
    *ngFor="let ball of balls"
    [disabled]="disabled"
    [class]="'circle-link color-' + ball.value"
    [title]="'Select number ' + ball.value"
    (click)="ballClicked.emit(ball)"
  >
    {{ ball.value }}
  </button>
  <button
    *ngFor="let ball of [].constructor(emptyBalls)"
    [class]="'circle-link'"
  ></button>
</div>
