// PRIMARY COLORS
$error: red;
$error-message: #d8000c;
$error-back-message: #ffbaba;
$border: #ccc;
$border-back: #eee;
$span-back: #555;
$white: #eeeeee;

$success: green;
$a-tag: #125699;
$a-tag-hover: #1976d2;

$color-1: #10d77e;
$color-3: #e87a89;
$color-4: #90b9f8;
$color-5: #b1e442;
$color-2: #f3e076;
$color-6: #0686fe;
$color-7: #f45bdf;
$color-8: #ff9500;
$color-9: #fa4267;
$color-10: #f57963;
