<div class="card">
  <div *ngIf="!bet; else result">
    <div class="col-12">
      <h2>Numbers</h2>
    </div>
    <app-ball-list
      [balls]="balls"
      [disabled]="selectedBalls.length === maxBallsSelected"
      (ballClicked)="addBall($event)"
    ></app-ball-list>
    <div class="col-12 text-align-center">
      <a (click)="unSelectBalls()" class="link">Clear selection</a>
    </div>
  </div>
  <ng-template #result>
    <div>
      <div class="col-12 text-align-center">
        <h2>Result</h2>
      </div>
      <app-ball-list [balls]="[winnerBall]"></app-ball-list>
      <div
        class="col-12 text-align-center"
        [ngClass]="{
          success: bet && bet.balls.length,
          error: bet && !bet.balls.length
        }"
      >
        <h1>{{ bet && bet.balls.length ? "You Won" : "You Lost" }}</h1>
      </div>
      <div class="col-12 text-align-center">
        <h1
          [ngClass]="{
            success: calculatedAmount >= 0,
            error: calculatedAmount < 0
          }"
        >
          {{ calculatedAmount | currency: "EUR" }}
        </h1>
      </div>
      <div class="col-12 text-align-center">
        <a (click)="resetGame()" class="link">Play again</a>
      </div>
    </div>
  </ng-template>
</div>
