<div class="card">
  <div>
    <app-ball-list
      [balls]="selectedBalls"
      [emptyBalls]="emptyBalls"
      (ballClicked)="deleteBall($event)"
    ></app-ball-list>
    <form class="col-12 text-align-center" (submit)="placeBet()">
      <span>{{ selectedBalls.length }}x</span>
      <input [formControl]="betControl" min="5" />
      <button type="submit" class="button">Ok</button>
      <div
        class="text-align-center error-message"
        *ngIf="betControl.invalid && betControl.touched"
      >
        The bet amount must be greater than 5€ by ball
      </div>
    </form>
  </div>
</div>
<div class="text-align-center">
  <div class="col-10">
    <h2 class="">
      Total: <b>{{ betAmount | currency: "EUR" }}</b>
    </h2>
  </div>
  <div class="col-12">
    <button
      class="button"
      [disabled]="betControl.invalid || !betAmount"
      (click)="startGame()"
    >
      {{ placeBetAgain ? "Place Bet Again" : "Place Bet" }}
    </button>
  </div>
</div>
