@use "../../../assets/colors/colors.scss" as colors;

span {
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: colors.$span-back;
  text-align: center;
  background-color: colors.$border-back;
  border: 1px solid colors.$border;
  border-radius: 4px;
}

button,
span {
  padding: 12px 24px;
  border-radius: 4px;
}

input {
  padding: 12px 24px;
  border: 1px solid colors.$border;
  border-radius: 4px;
}
button {
  padding: 13px 24px;
}

h2 {
  font-weight: 100;
}

.card {
  display: block;
  height: 60%;
}

.error-message {
  border: 1px solid;
  color: colors.$error-message;
  background-color: colors.$error-back-message;
  padding: 4px;
  margin: 4px;
}
