@use "assets/colors/colors.scss" as colors;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}
.grid {
  display: flex;
}

.col-12 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 100%;
}

.col-8 {
  width: 67%;
}
.col-4 {
  width: 33%;
}

p {
  margin: 0;
}

.justify-content-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

a,
a:visited {
  cursor: pointer;
  color: colors.$a-tag;
  text-decoration: none;
}

a:hover {
  color: colors.$a-tag-hover;
}

.circle-link {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid colors.$white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid colors.$border-back;
  background-color: colors.$white;
  height: 500px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.button {
  background-color: colors.$a-tag-hover;
  border: none;
  color: colors.$white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

$color-array: (
  color-1: colors.$color-1,
  color-2: colors.$color-3,
  color-3: colors.$color-4,
  color-4: colors.$color-5,
  color-5: colors.$color-2,
  color-6: colors.$color-6,
  color-7: colors.$color-7,
  color-8: colors.$color-8,
  color-9: colors.$color-9,
  color-10: colors.$color-10,
);

@each $color-name, $color-value in $color-array {
  .#{$color-name} {
    background-color: $color-value;
  }
}
